#PostgreSQL

POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

#Clave secreta en Base 64 y nombre del proyecto

SECRET_KEY=
PROJECT_NAME=

#FTP

FTP_USER=
FTP_PASSWORD=
FTP_SERVER=

#SMTP

SMTP_HOST=
EMAILS_FROM_EMAIL=

SMTP_PASSWORD=
#Algoritmo de encriptación
ALGORITHM=

#URL que apunta a esta api

BACKEND_URL=https://api.example.com/